

.noms{
    text-align: center;
    background-color: orange;
    font-size: 1.5em;
}

.container1 {
    background-color: rgb(170, 28, 170);
    border: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container0 {
    background-color: orange;
}

.colfo1 {
    background-color: beige;
    height: 10%;
    border: 1px solid black;
    width: 85%;
    display: block;
}

.top1 {
    background-color: wheat;
    height: 80px;
    border: 1px black;
    width: 1%;
}

.foto {
    border-radius: 135px;
    align-items: center;
    display: inline-block;
}

img {
    border-radius: 10px;
    align-items: center;
    display: inline;
}

.kte {
    list-style: none;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 3em;
}

.kte {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.relier{
    background-color: orange;
}

/*pour tablette*/
@media screen and (max-width: 768px) {
    .noms{
    text-align: left;
    background-color: #0888;
    font-size: 2em;
}
.colfo1 {
    background-color: beige;
    height: 10%;
    border: 1px solid black;
    width: 100%;
}
.top1 {
    background-color: wheat;
    height: 250px;
    border: 1px black;
    width: 100%;
}
ul,ol{
    font-size: 1.8em;
}
.container1 {
    width: 100%;
}
.container0{
    width: 100%;
}
.noms,{
    width: 100%;
}
.relier{
    width: 100%;
}
h1{
    text-align: center;
}
/*pour telephone*/

@media screen and (max-width: 360px){
  
.noms{
    text-align: center;
    background-color: #7888;
    font-size: 1.1em;
    }
.colfo1 {
    background-color: beige;
    height: 10%;
    border: 1px solid black;
    width: 100%;
}
.top1 {
    background-color: wheat;
    height: 250px;
    border: 1px black;
    width: 100%;
}
ul,ol{
    font-size: 1.1em;
}
h2{
    font-size: 1.3em;
}
h1{
    font-size: 2em;
}
